body {
    font-family: 'Martian Mono', monospace;
    color: black;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background-image: url("/static/img/pexels-fwstudio-33348-129731.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-size: 1em; 
}

td, th {
    text-align: center;
    padding: 0.5rem;
    word-wrap: break-word; 
}

td:first-child {
    padding-left: 1rem; 
}

h1 {
    text-align: center;
    font-size: 2rem;
}

p {
    text-align: center;
    font-size: 1em; 
}

.tagline {
    position: fixed;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    bottom: 0;
    width: 100%;
    padding: 1.25rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container {
    overflow-x: auto;
    margin: 0 auto;
    width: 95%; 
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 0 2rem; 
}

.table-container table {
    width: 100%; 
    margin: 0 auto;
    box-sizing: border-box; 
}

table {
    width: 100%;
    max-width: 100%; 
    border-collapse: collapse;
}

th, td {
    padding: 0.5rem;
    text-align: center;
}

.b {
    padding: 0.625rem 0.9375rem;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: rgb(255, 127, 39);
    border: none;
    border-radius: 0.8125rem;
    text-shadow: 0.0625rem 0.0625rem 0.125rem #333;
    box-shadow: 0 0.25rem #9C640C;
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
    position: relative;
    top: 0;
    width: auto;
    height: auto;
}

.b:hover {
    background-color: #E67E22;
    box-shadow: 0 0.375rem #7E5109;
    top: -0.125rem;
}

.b:active {
    background-color: #D35400;
    box-shadow: 0 0.125rem #7E5109;
    top: 0.125rem;
}

.F {
    color: red;
}

.T {
    color: greenyellow;
}


@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem; 
    }

    body{
        font-size: 0.775rem; 
    }

    .tagline {
        font-size: 1rem;
        padding: 1rem;
    }

    .b {
        font-size: 0.875rem;
        padding: 0.5rem 0.75rem;
    }

    th, td {
        padding: 0.25rem;
    }
}

@media (max-width: 565px) {
    h1 {
        font-size: 1.25rem;
    }

    body {
        font-size: 0.65rem; 
    }

    .tagline {
        font-size: 0.875rem;
        padding: 0.75rem;
    }

    .b {
        font-size: 0.75rem;
        padding: 0.375rem 0.5rem;
    }

    th, td {
        padding: 0.125rem;
    }
}


@media (max-width: 380px) {
    h1 {
        font-size: 1rem;
    }

    body {
        font-size: 0.65rem; 
    }

    p {
        font-size: 0.65rem; 
    }

    .tagline {
        font-size: 0.75rem;
        padding: 0.5rem;
    }

    .b {
        font-size: 0.60rem;
        padding: 0.25rem 0.375rem;
    }

    th, td {
        padding: 0.125rem;
    }
}