<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Legacy Lines
    </title>
</head>
<body>
<h1>Inspiration</h1>

<br>
<p>Legacy Lines was inspired by 
    the idea of creating a game that captures the essence and appeal of popular titles like Wordle, Pokedoku, and Globle.
With the spin of a sports twist, I wanted to create a game that would be fun, engaging like picking over/unders.
      </p>
    <br>
    <div class="center">
    <a class="b" href="/">Back Home</a>   
    </div>
    <br>
    <div class="center">
    <a class="b" href="https://terrelldavis1224.github.io/">My site</a>
    </div>
</body>
</html>