<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legacy Lines</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
<h1>Legacy Lines</h1>

<br>

<p>Try to correctly Guess whether each player's stats will be over or under those of a specific player.</p>

<br>
<br>

<div class="center">
<a class="b" href="/guess_player">Start</a>
</div>
<br>
<br>


<br>
<br>

<p class="tagline">Where History Meets Judgment: Decide Who Stands Above in the Stats</p>

</body>
</html>
