<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legacy Lines</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

    <h1>Results</h1>
    <br>

    <table>
        <tr>
            <td>Player</td>
            <td>PTS</td>
            <td>REB</td>
            <td>AST</td>
            <td>STL</td>
            <td>BLK</td>
            <td>Year</td>
            <td>TEAM</td>
        </tr>
        <tr>
            <td><p>{{ main_player_info }}</p></td>
            <td>{{ main_career_info['PTS'].values[0] }}</td>
            <td>{{ main_career_info['REB'].values[0] }}</td>
            <td>{{ main_career_info['AST'].values[0] }}</td>
            <td>{{ main_career_info['STL'].values[0] }}</td>
            <td>{{ main_career_info['BLK'].values[0] }}</td>
            <td>{{ main_career_info['SEASON_ID'].values[0] }}</td>
            <td>{{ main_career_info['TEAM_ABBREVIATION'].values[0] }}</td>
        </tr>
    </table>

    <table>
        <tr>
            <td>Player</td>
            <td>PTS</td>
            <td>REB</td>
            <td>AST</td>
            <td>STL</td>
            <td>BLK</td>
            <td>Year</td>
            <td>TEAM</td>
        </tr>
        {% for index in range(4) %}
        <tr>
            <td><p>{{ player_info_list[index] }}</p></td>
            {% for stat in ['PTS','REB','AST','STL','BLK'] %}
            <td class="{{ results[stat.lower() + (index|string)] }}">{{ career_info_list[index][stat].values[0] }}</td>
            {% endfor %}
            <td>{{ career_info_list[index]['SEASON_ID'].values[0] }}</td>
            <td>{{ career_info_list[index]['TEAM_ABBREVIATION'].values[0] }}</td>
        </tr>
        {% endfor %}
    </table>
    

    <div class="center">
    <p>Correct: {{ correct }} / 20</p>

</body>
</html>